<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaolv.stratifiedarchitectureproject.mybatis.mapper.book.BookMapper">

    <select id="findAll" resultType="com.xiaolv.stratifiedarchitectureproject.mybatis.entity.book.BookDTO">
        SELECT * FROM tb_book
    </select>
    <select id="findById" resultType="com.xiaolv.stratifiedarchitectureproject.mybatis.entity.book.BookDTO">


    </select>

    <select id="findByName" resultType="com.xiaolv.stratifiedarchitectureproject.mybatis.entity.book.BookDTO">


    </select>

</mapper>